@model WebApp.Models.StudentGroupModel
@{
	ViewBag.Title = "Create StudentGroup";
}

<h2>Create Student-Group</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div>
		@Html.LabelFor(model => model.Code)
		@Html.EditorFor(model => model.Code)
		@Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
	</div>
	<input type="submit" value="Create Student-Group" />
}
