@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Student Exam System</h1>
	<p class="lead">Welcome to System for Exams.</p>
	<p>
		Try to play with the Areas, Questions and Answers.
		The Areas, however, are not complete yet. 
	</p>
</div>